   * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

nav {
      background-color: #333;
   } 

   header {
      background-color: rgb(161, 40, 0);
      text-align: center;
      padding: 10px;
   }

   section {
      background-color: rgba(255, 244, 244, 0.758);
   }

   footer {
      background-color: #333;
      text-align: center;
   }

   article {
      background-color: rgb(255, 255, 255);
   }

   a {
      color: white;
   }

   h1 {
      color: white;
   }

   h2 {
      color:rgb(94, 41, 41);
   }

   h4 {
      color:white;
   }

   .foot-p {
      color:white;
   }

   header > p {
      color:white;
   }
